.background {
  background: linear-gradient(-90deg, #f0f0f0 0%, #f8f8f8 50%, #f0f0f0 100%);
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
}

.container {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}

.content {
  flex: 1;
}

.imageWrapper {
  width: 500px;
  height: 500px;
  flex-shrink: 0;
}

.title {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
}

.description {
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  div {
    width: 100%;
    height: 20px;
  }
}

@media (max-width: 1024px) {
  .imageWrapper {
    width: 300px;
    height: 400px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .imageWrapper {
    width: 100%;
    height: 300px;

  }

  .title {
    height: 30px;
    margin-bottom: 15px;
  }

  .description {
    height: 100px;
    width: 100%;
    margin-bottom: 15px;
  }

  .about {
    gap: 15px;
    div {
      width: 100%;
      height: 15px;
    }
  }
}

@keyframes pulse {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -135% 0;
  }
}
