@font-face {
  font-family: "Acrom";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/acrom/Acrom-Regular.woff") format("woff");
}

@font-face {
  font-family: "Acrom";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/acrom/Acrom-Medium.woff") format("woff");
}

@font-face {
  font-family: "Acrom";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/acrom/Acrom-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Bayon";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/bayon/Bayon-Regular.woff") format("woff");
}