.header {
  background: #080423;
  height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  font-family: Bayon, sans-serif;
  font-size: 2.5rem;
  color: #FF3D81;
  line-height: 1;
}

.content {
  display: flex;
  gap: 20px;
}