.footer {
  background: #080423;
  height: 120px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.logo {
  font-family: Bayon, sans-serif;
  font-size: 2.5rem;
  color: #FF3D81;
  line-height: 1;
}

.content {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu li {
  color: rgba(255, 249, 249, 1);
}

.link {
  color: inherit;
}